@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

:root {
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container {
    width: 1000px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    display: flex;
}


.hero-image {
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('assest/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: 123% 65%;
}

.hero-image-inner {
    background-image: url('assest/illustration-woman-online-desktop.svg');
    background-repeat: no-repeat;
    background-position: -270% 40%;
    height: 100%;
}

.box-image {
    position: absolute;
    top: 40%;
    left: -19%;
}

.question_wrapper_inner > .answer {
    display: none;
}

.active > .answer {
    display: block;
    padding-bottom: 1.3rem;
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
}

.active img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}
.question_wrapper {
    margin-top: 70px;
}


.questions_wrapper_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question_wrapper_inner {
    width: 450px;
    border-bottom: solid 1px var(--light-grayish-blue);
}

.container_title {
    font-size: 2rem;
    margin-top: 0px;
    text-transform: uppercase;
}

.question_title {
    font-size: 1rem;
    font-weight: 400;
    margin: 1.2rem 0rem;
    color: var(--very-dark-grayish-blue);
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}

.question img {
    align-self: center;
}